<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
    <link rel="stylesheet" href="/static/css/base/nav.css">
    <link rel="stylesheet" href="/static/css/auth/auth.css">
</head>
<body>
<img src="../../static/images/login/Login.png" alt="mainpage" class="bg">
<header>
    <nav>
        <!--네비바-->
        <span>WashPlan</span>
        <span>예약</span>
        <span>FAQ</span>
        <span>회원가입</span>
        <span style="color: #FFFF00">로그인</span>
    </nav>
</header>

<main>
    <span id="loginlogo">WashPlan</span>

    <div class="loginbox">
        <span id="box1">ID : </span>
        <input id="box2" type="text">

        <span id="box3">PASSWORD : </span>
        <input id="box4" type="password">
        <img src="../../static/images/login/Invisible.png" alt="Invisible" class="ivs">
    </div>

    <button class="loginbtn">로그인</button>


    <p id="forget">아이디나 비밀번호를 잊으셨나요?</p>
</main>

</body>
</html>