<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
    <!-- CSS 경로를 Thymeleaf로 설정 -->
    <link th:href="@{/css/base/nav.css}" rel="stylesheet">
    <link th:href="@{/css/auth/login.css}" rel="stylesheet">
</head>
<body>
<!-- 배경 이미지 경로를 Thymeleaf로 설정 -->
<img th:src="@{/images/login/Login.png}" alt="mainpage" class="bg">

<header>
    <nav>
        <!-- 네비바 -->
        <span>WashPlan</span>
        <span>예약</span>
        <span>FAQ</span>
        <span>회원가입</span>
        <span style="color: #FFFF00">로그인</span>
    </nav>
</header>

<main>
    <span id="loginlogo">WashPlan</span>

    <!-- 오류 메시지 -->
    <div th:if="${param.error}" class="error">
        아이디나 비밀번호가 잘못되었습니다.
    </div>

    <!-- 로그인 폼 -->
    <form th:action="@{/login}" method="post" class="loginbox">
        <label for="box2" id="box1">ID :</label>
        <input id="box2" name="username" type="text" placeholder="아이디 입력" required>

        <label for="box4" id="box3">PASSWORD :</label>
        <input id="box4" name="password" type="password" placeholder="비밀번호 입력" required>
        <!-- 이미지 경로를 Thymeleaf로 설정 -->
        <img th:src="@{/images/login/Invisible.png}" alt="Invisible" class="ivs">

        <button class="loginbtn" type="submit">로그인</button>
    </form>

    <p id="forget"><a th:href="@{/forgot-password}">아이디나 비밀번호를 잊으셨나요?</a></p>
</main>
</body>
</html>