.bg{
    position: absolute;
    left: -1px;
    top: -1px;
}

.signupLogo{
    /* 약관 동의 */

    position: absolute;
    width: 327px;
    height: 148px;
    left: 796px;
    top: 160px;

    font-family: 'BM Dohyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 74px;

    color: #000000;

}

.idBox{
    /* 아이디 : */

    position: absolute;
    width: 85px;
    height: 38px;
    left: 351px;
    top: 349px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;
}

.idBox input {
    /* Rectangle 277 */

    position: fixed;
    width: 900px;
    height: 59px;
    left: 495px;
    top: 338px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    padding-left: 20px;

}

.passwordBox {
    /* 비밀번호 : */

    position: absolute;
    width: 108px;
    height: 38px;
    left: 328px;
    top: 495px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.passwordBox input {
    /* Rectangle 274 */

    position: fixed;
    width: 900px;
    height: 59px;
    left: 495px;
    top: 480px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    padding-left: 20px;

}

.ivs1  {
    /* Invisible */

    position: absolute;
    width: 75px;
    height: 53px;
    left: 1325px;
    top: 480px;

    cursor: pointer;
}

.passwordRepeatBox{
    position: absolute;
    width: 190px;
    height: 38px;
    left: 289px;
    top: 641px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;
}

.passwordRepeatBox input {

    position: fixed;
    width: 900px;
    height: 59px;
    left: 495px;
    top: 622px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    padding-left: 20px;
}

.ivs2 {
    /* Invisible */

    position: absolute;
    width: 75px;
    height: 53px;
    left: 1325px;
    top: 622px;

    cursor: pointer;
}

.pwdValid{
    /* 비밀번호는 영문,숫자,특수문자가 각 하나씩 포함되어야 합니다. */

    position: absolute;
    width: 700px;
    height: 38px;
    left: 490px;
    top: 520px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;

}

.completeBtn{
    /* Rectangle 276 */

    position: absolute;
    width: 209px;
    height: 80px;
    left: 856px;
    top: 875px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;

    /* 완료 */



    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
    cursor: pointer;

}

.completeBtn:active {
    background : #0056B3;
    transition: 0.3ms;
}

.emailBox{
    /* 아이디 : */

    position: absolute;
    width: 85px;
    height: 38px;
    left: 351px;
    top: 787px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;
}

.emailBox input{
    position: fixed;
    width: 900px;
    height: 59px;
    left: 495px;
    top: 774px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    padding-left: 20px;
}

#idValid{


    position: absolute;
    width: 400px;
    height: 38.16px;
    left: 150px;
    top: 60px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;



}

#pwdValid {
    position: absolute;
    width: 350px;
    height: 38.16px;
    left: 150px;
    top: 60px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;

    white-space: nowrap;
}


#pwdRepeatValid {
    position: absolute;
    width: 350px;
    height: 38.16px;
    left: 220px;
    top: 60px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;

    white-space: nowrap;
}

/* 모달 창 스타일 */
#successModal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

.modal-content {
    position: absolute;
    width: 1106px;
    height: 326px;
    left: 404px;
    top: 379px;

    background: #E3F2FD;
    box-shadow: 0px 7px 24.4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    border: none;
}

/* 모달 창 내 버튼 스타일 */
#successModal button {
    box-sizing: border-box;

    position: fixed;
    width: 209px;
    height: 59px;
    left: 856px;
    top: 611px;

    background: #42A5F5;
    border: 1px solid #E3F2FD;
    border-radius: 50px;

    font-size: 40px;
    color: #FFFFFF;
    font-family: "Do Hyeon";

    cursor: pointer;
}

#successModal button:hover {
    background-color: #004BB7;
}

.modal-content p {
    position: fixed;
    width: 1108px;
    height: 39px;
    left: 725px;
    top: 475px;

    font-family: 'BM Dohyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;

    color: #000000;
}

/* 비활성화된 버튼 스타일 */
.disabled-btn {
    background-color: #cccccc; /* 회색 */
    color: #666666; /* 텍스트 색상 */
    cursor: not-allowed; /* 클릭 불가 커서 */
}
/* 유효한 입력 메시지 스타일 */
.valid-message {
    color: #0088ff; /* 파란색 */
}
/* 유효하지 않은 입력 메시지 스타일 */
.invalid-message {
    color: red;
}