<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
  <link th:href="@{/css/base/nav.css}" rel="stylesheet">
  <link th:href="@{/css/mypage/inquiry.css}" rel="stylesheet">
</head>
<body>
<!-- 배경 이미지 -->
<img th:src="@{/images/main/mypage.png}" alt="mainpage" class="bg">

<header>
  <nav>
    <span onclick="location.href='/'">WashPlan</span>
    <span>예약</span>
    <span>FAQ</span>
    <span style="color: #FFFF00">마이페이지</span>
    <span onclick="location.href='/login'">로그아웃</span>
  </nav>
</header>

<main>
  <button class="info" onclick="location.href='/mypage'">회원정보</button>
  <button class="reservation" onclick="location.href='/mypage/reservations'">예약현황</button>
  <button class="inquiry" onclick="location.href='/mypage/inquiry'">문의내역</button>

  <div class="nav-header">
    <p class="machineNav">번호</p>
    <p class="timeNav">문의날짜</p>
    <p class="optionNav">문의제목</p>
    <p class="replyNav">답변유무</p>
  </div>
  <hr>

  <div class="inquiry-list">
    <div th:each="inquiry : ${inquiries}" class="inquiry-item">
        <span class="inquiry-no" th:text="${inquiry.inquiryNo}"></span>
        <span class="inquiry-date" th:text="${#temporals.format(inquiry.inquiryDate, 'yyyy-MM-dd')}"></span>
        <span class="inquiry-title" th:text="${inquiry.inquiryTitle}"></span>
        <span class="inquiry-status" th:text="${inquiry.replyStatus}"></span>
    </div>
  </div>
</main>

<footer>
  <span>📞031-123-4567ㅣ✉️contact@washplan.com</span>
  <span>🚩경기 하남시 미사강변동로 85 힐스테이트 에코 3층</span>
  <span>ⓒ 2024 PPal-AjoㅣAll rights reserved.Designed for your convenience.</span>
</footer>

</body>
</html>