<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>
    <link th:href="@{/css/base/nav.css}" rel="stylesheet">
    <link th:href="@{/css/mypage/mypage.css}" rel="stylesheet">

</head>
<body>
<!-- 배경 이미지 -->
<img th:src="@{/images/main/mypage.png}" alt="mainpage" class="bg">

<header>
    <nav>
        <span>WashPlan</span>
        <span>예약</span>
        <span>FAQ</span>
        <span style="color: #FFFF00">마이페이지</span>
        <span onclick="location.href='/login'">로그아웃</span>
    </nav>
</header>

<main>


</main>

<footer>
    <span>📞031-123-4567ㅣ✉️contact@washplan.com</span>
    <span>🚩경기 하남시 미사강변동로 85 힐스테이트 에코 3층</span>
    <span>ⓒ 2024 PPal-AjoㅣAll rights reserved.Designed for your convenience.</span>
</footer>
</body>
</html>