<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.washplan.admin.model.dao.AdminMapper">

    <resultMap id="adminResultMap" type="com.ohgiraffers.washplan.admin.model.dto.AdminDTO">
        <result column="USER_NO" property="userNo"/>
        <result column="USER_ID" property="userId"/>
        <result column="CREATED_TIME" property="createdTime"/>
        <result column="USER_STATUS" property="userStatus"/>
        <result column="CANCEL_COUNT" property="cancelCount"/>
    </resultMap>

    <resultMap id="machineResultMap" type="com.ohgiraffers.washplan.admin.model.dto.AdminMachineDTO">
        <result column="MACHINE_NO" property="machineNo"/>
        <result column="MACHINE_TYPE" property="machineType"/>
        <result column="MACHINE_STATUS" property="machineStatus"/>
    </resultMap>

    <resultMap id="inquiryResultMap" type="com.ohgiraffers.washplan.admin.model.dto.AdminInquiryDTO">
        <result column="INQUIRY_NO" property="inquiryNo"/>
        <result column="USER_ID" property="userId"/>
        <result column="INQUIRY_TITLE" property="inquiryTitle"/>
        <result column="INQUIRY_DATE" property="inquiryDate"/>
        <result column="REPLY_STATUS" property="replyStatus"/>
        <result column="INQUIRY_CONTENT" property="inquiryContent"/>
    </resultMap>

    <resultMap id="inquiryReplyResultMap" type="com.ohgiraffers.washplan.admin.model.dto.AdminInquiryReplyDTO">
        <result column="INQUIRY_NO" property="inquiryNo"/>
        <result column="ADMIN_NO" property="adminNo"/>
        <result column="REPLY_COMMENT" property="replyComment"/>
    </resultMap>

    <resultMap id="noticeResultMap" type="com.ohgiraffers.washplan.admin.model.dto.AdminNoticeDTO">
        <result column="NOTICE_NO" property="noticeNo"/>
        <result column="NOTICE_TITLE" property="noticeTitle"/>
        <result column="NOTICE_DATE" property="noticeDate"/>
        <result column="NOTICE_CONTENT" property="noticeContent"/>
    </resultMap>

    <select id="findUserInfo" resultMap="adminResultMap">
        SELECT USER_NO,
                USER_ID,
                CREATED_TIME,
                USER_STATUS,
                CANCEL_COUNT
            FROM TBL_USER
    </select>

    <update id="pauseUser">
        UPDATE TBL_USER
        SET USER_STATUS = '일시정지'
        WHERE USER_NO = #{userNo}
    </update>

    <update id="deleteUser">
        UPDATE TBL_USER
        SET USER_STATUS = '영구탈퇴'
        WHERE USER_NO = #{userNo}
    </update>

    <select id="searchAll" parameterType="string" resultMap="adminResultMap">
        SELECT USER_NO, USER_ID, CREATED_TIME, USER_STATUS, CANCEL_COUNT
        FROM TBL_USER
        WHERE USER_ID LIKE #{keyword}
        OR USER_STATUS LIKE #{keyword}
    </select>

    <select id="searchByCancelCount" parameterType="int" resultMap="adminResultMap">
        SELECT USER_NO, USER_ID, CREATED_TIME, USER_STATUS, CANCEL_COUNT
        FROM TBL_USER
        WHERE CANCEL_COUNT >= #{cancelCount}
    </select>

    <select id="findWashMachineInfo" resultMap="machineResultMap">
        SELECT MACHINE_NO,
                MACHINE_STATUS
        FROM TBL_MACHINE
        WHERE MACHINE_TYPE = '세탁기'
    </select>

    <select id="findDryMachineInfo" resultMap="machineResultMap">
        SELECT MACHINE_NO,
                MACHINE_STATUS
        FROM TBL_MACHINE
        WHERE MACHINE_TYPE = '건조기'

    </select>

    <update id="toggleMachineStatus">
        UPDATE TBL_MACHINE
        SET MACHINE_STATUS =
            CASE
                WHEN MACHINE_STATUS = '사용가능' THEN '고장'
                ELSE '사용가능'
            END
        WHERE MACHINE_NO = #{machineNo}
    </update>

    <select id="findInquiryInfo" resultMap="inquiryResultMap">
        SELECT i.INQUIRY_NO,
                u.USER_ID,
                i.INQUIRY_TITLE,
                i.INQUIRY_DATE,
                i.REPLY_STATUS
        FROM TBL_INQUIRY i
        JOIN TBL_USER u ON i.USER_NO = u.USER_NO
    </select>

    <select id="findInquiriesByUserIdOrTitle" resultMap="inquiryResultMap">
        SELECT i.INQUIRY_NO, u.USER_ID, i.INQUIRY_TITLE, i.INQUIRY_DATE, i.REPLY_STATUS
        FROM TBL_INQUIRY i
        JOIN TBL_USER u ON i.USER_NO = u.USER_NO
        WHERE u.USER_ID LIKE CONCAT('%', #{query}, '%')
        OR i.INQUIRY_TITLE LIKE CONCAT('%', #{query}, '%')
    </select>

    <select id="findInquiriesByReplyStatus" resultMap="inquiryResultMap">
        SELECT i.INQUIRY_NO, u.USER_ID, i.INQUIRY_TITLE, i.INQUIRY_DATE, i.REPLY_STATUS
        FROM TBL_INQUIRY i
        JOIN TBL_USER u ON i.USER_NO = u.USER_NO
        WHERE i.REPLY_STATUS = #{status}
    </select>

    <delete id="deleteInquiries">
        DELETE FROM TBL_INQUIRY
        WHERE INQUIRY_NO IN
        <foreach collection="list" item="inquiryNo" open="(" separator="," close=")">
            #{inquiryNo}
        </foreach>
    </delete>

    <select id="findInquiryDetail" resultMap="inquiryResultMap">
        SELECT INQUIRY_NO, INQUIRY_TITLE, INQUIRY_CONTENT
        FROM TBL_INQUIRY
        WHERE INQUIRY_NO = #{inquiryNo}
    </select>

    <insert id="insertInquiryReply">
        INSERT INTO TBL_INQUIRY_REPLY (ADMIN_NO,INQUIRY_NO,REPLY_COMMENT)
        VALUES  (#{adminNo}, #{inquiryNo}, #{replyComment})
    </insert>

    <update id="updateReplyStatus">
        UPDATE TBL_INQUIRY
        SET REPLY_STATUS = #{replyStatus}
        WHERE INQUIRY_NO = #{inquiryNo}
    </update>

    <!-- 답변 내용 조회 -->
    <select id="getReplyCommentByInquiryNo" resultType="String">
        SELECT REPLY_COMMENT
        FROM TBL_INQUIRY_REPLY
        WHERE INQUIRY_NO = #{inquiryNo}
        LIMIT 1
    </select>

    <select id="findNoticeInfo" resultMap="noticeResultMap">
        SELECT NOTICE_NO,
                NOTICE_TITLE,
                NOTICE_DATE
            FROM TBL_NOTICE
        ORDER BY NOTICE_NO DESC
    </select>

    <select id="findNoticesByTitle" resultMap="noticeResultMap">
        SELECT NOTICE_NO,
        NOTICE_TITLE,
        NOTICE_DATE
        FROM TBL_NOTICE
        WHERE NOTICE_TITLE LIKE CONCAT('%', #{title}, '%')
    </select>

    <delete id="deleteNotices">
        DELETE FROM TBL_NOTICE
        WHERE NOTICE_NO IN
        <foreach item="noticeNo" collection="noticeNos" open="(" separator="," close=")">
            #{noticeNo}
        </foreach>
    </delete>

    <insert id="insertNotice">
        INSERT INTO TBL_NOTICE (NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE, ADMIN_NO)
        VALUES (#{noticeTitle}, #{noticeContent}, NOW(), #{adminNo})
    </insert>

    <select id="findLastAddedNotice" resultMap="noticeResultMap">
        SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_DATE, ADMIN_NO
        FROM TBL_NOTICE
        ORDER BY NOTICE_NO DESC
        LIMIT 1
    </select>

    <select id="getNoticeById" resultMap="noticeResultMap">
        SELECT NOTICE_TITLE,
                NOTICE_CONTENT
        FROM TBL_NOTICE
        WHERE NOTICE_NO = #{noticeNo}
    </select>

    <update id="updateNotice">
        UPDATE TBL_NOTICE
        SET NOTICE_TITLE = #{noticeTitle},
            NOTICE_CONTENT = #{noticeContent}
        WHERE NOTICE_NO = #{noticeNo}
    </update>





</mapper>