<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.washplan.inquiry.model.dao.InquiryMapper">

    <insert id="insertInquiry" parameterType="com.ohgiraffers.washplan.inquiry.model.dto.InquiryDTO">
        INSERT INTO TBL_INQUIRY
        (USER_NO, INQUIRY_TITLE, INQUIRY_CONTENT, INQUIRY_DATE, REPLY_STATUS)
        VALUES
        (#{userNo}, #{inquiryTitle}, #{inquiryContent}, #{inquiryDate}, #{replyStatus})
    </insert>

    <select id="findInquiriesByUserNo" resultType="com.ohgiraffers.washplan.inquiry.model.dto.InquiryDTO">
        SELECT 
            INQUIRY_NO as inquiryNo,
            USER_NO as userNo,
            INQUIRY_TITLE as inquiryTitle,
            INQUIRY_CONTENT as inquiryContent,
            INQUIRY_DATE as inquiryDate,
            REPLY_STATUS as replyStatus
        FROM TBL_INQUIRY
        WHERE USER_NO = #{userNo}
        ORDER BY INQUIRY_DATE DESC, INQUIRY_NO DESC
    </select>

    <select id="findInquiryByNo" resultType="com.ohgiraffers.washplan.inquiry.model.dto.InquiryDTO">
        SELECT 
            i.INQUIRY_NO as inquiryNo,
            i.USER_NO as userNo,
            i.INQUIRY_TITLE as inquiryTitle,
            i.INQUIRY_CONTENT as inquiryContent,
            i.INQUIRY_DATE as inquiryDate,
            i.REPLY_STATUS as replyStatus,
            r.REPLY_COMMENT as replyComment
        FROM TBL_INQUIRY i
        LEFT JOIN TBL_INQUIRY_REPLY r ON i.INQUIRY_NO = r.INQUIRY_NO
        WHERE i.INQUIRY_NO = #{inquiryNo}
    </select>

    <delete id="deleteInquiry" parameterType="int">
        DELETE FROM TBL_INQUIRY WHERE INQUIRY_NO = #{inquiryNo}
    </delete>

</mapper> 