<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.washplan.machine.model.dao.MachineMapper">

    <resultMap id="machineResultMap" type="com.ohgiraffers.washplan.machine.model.dto.MachineDTO">
        <id property="machineNo" column="MACHINE_NO"/>
        <result property="machineType" column="MACHINE_TYPE"/>
        <result property="machineStatus" column="MACHINE_STATUS"/>
        <collection property="options" ofType="com.ohgiraffers.washplan.machine.model.dto.MachineOptionDTO">
            <id property="optionNo" column="OPTION_NO"/>
            <result property="machineType" column="MACHINE_TYPE"/>
            <result property="optionName" column="OPTION_NAME"/>
            <result property="optionPrice" column="OPTION_PRICE"/>
            <result property="optionTime" column="OPTION_TIME"/>
        </collection>
    </resultMap>

    <select id="selectMachinesByType" resultMap="machineResultMap">
        SELECT 
            m.MACHINE_NO,
            m.MACHINE_TYPE,
            m.MACHINE_STATUS,
            o.OPTION_NO,
            o.MACHINE_TYPE,
            o.OPTION_NAME,
            o.OPTION_PRICE,
            o.OPTION_TIME
        FROM TBL_MACHINE m
        LEFT JOIN TBL_MACHINE_OPTION o ON m.MACHINE_TYPE = o.MACHINE_TYPE
        WHERE m.MACHINE_TYPE = #{machineType}
        ORDER BY m.MACHINE_NO
    </select>

    <select id="selectMachineByNo" resultMap="machineResultMap">
        SELECT 
            m.MACHINE_NO,
            m.MACHINE_TYPE,
            m.MACHINE_STATUS,
            o.OPTION_NO,
            o.MACHINE_TYPE,
            o.OPTION_NAME,
            o.OPTION_PRICE,
            o.OPTION_TIME
        FROM TBL_MACHINE m
        LEFT JOIN TBL_MACHINE_OPTION o ON m.MACHINE_TYPE = o.MACHINE_TYPE
        WHERE m.MACHINE_NO = #{machineNo}
    </select>

    <select id="selectMachineStatus" resultType="string">
        SELECT MACHINE_STATUS
        FROM TBL_MACHINE
        WHERE MACHINE_NO = #{machineNo}
    </select>

    <update id="updateMachineStatus">
        UPDATE TBL_MACHINE
        SET MACHINE_STATUS = #{machineStatus}
        WHERE MACHINE_NO = #{machineNo}
    </update>
</mapper>
