<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohgiraffers.washplan.user.model.dao.UserMapper">



    <!-- 회원 정보 삽입 -->
    <insert id="insertUser" parameterType="com.ohgiraffers.washplan.user.model.dto.UserDTO">
        INSERT INTO TBL_USER (USER_ID, USER_PWD, EMAIL, USER_STATUS, CREATED_TIME)
        VALUES (#{userId}, #{password}, #{email}, #{userStatus}, NOW());
    </insert>
</mapper>