<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/error/error.css}">
</head>
<body>
<img class="image" th:src="@{/images/error/404error.png}" alt="404에러배경">
<button onclick="location.href='/main'">메인</button>
</body>
</html>