.bg{
    position: absolute;
    left: -1px;
    top: -1px;
}

footer{
    position: absolute;
    width: 1920px;
    height: 147px;
    left:-1px;
    top: 1044px;
    background: #1A73E8;
}
footer span:nth-child(1){
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    left:350px;
    top:30px;
}
footer span:nth-child(2){
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    left:970px;
    top:30px;
}
footer span:nth-child(3){
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    left:500px;
    top:90px;
}

.info {
    /* Rectangle 314 */

    position: absolute;
    width: 190px;
    height: 73px;
    left: 191px;
    top: 148px;

    background: #0056B3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border : none;


    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #FFFFFF;



}

.reservation {
    /* Rectangle 315 */

    position: absolute;
    width: 190px;
    height: 73px;
    left: 441px;
    top: 148px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border : none;


    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #FFFFFF;
    
    cursor: pointer;

}

.inquiry {
    /* Rectangle 316 */

    position: absolute;
    width: 190px;
    height: 73px;
    left: 691px;
    top: 148px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border : none;


    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #FFFFFF;

    cursor: pointer;

}

.secession {
    /* Rectangle 321 */

    position: absolute;
    width: 168px;
    height: 55px;
    left: 1468px;
    top: 260px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

    cursor: pointer;

    /* 회원탈퇴 */


    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;

    color: #FFFFFF;
}

.id{
    /* 아이디 */

    position: absolute;
    width: 70px;
    height: 38px;
    left: 289px;
    top: 297px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;


}


.idInput{
    /* Rectangle 317 */

    box-sizing: border-box;

    position: absolute;
    width: 1362px;
    height: 77px;
    left: 279px;
    top: 374px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;


    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;

    padding-left: 20px;


}

.pwd{
    /* 비밀번호 */

    position: absolute;
    width: 93px;
    height: 38px;
    left: 289px;
    top: 462px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;


}

.pwdInput {
    /* Rectangle 318 */

    box-sizing: border-box;

    position: absolute;
    width: 1053px;
    height: 77px;
    left: 279px;
    top: 535px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;

    padding-left: 20px;

}

.change {
    /* Rectangle 320 */

    position: absolute;
    width: 190px;
    height: 73px;
    left: 1400px;
    top: 537px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    cursor: pointer;

    /* 변경 */

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #FFFFFF;
}

.email {
    /* 이메일 */

    position: absolute;
    width: 70px;
    height: 38px;
    left: 289px;
    top: 658px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;

}

.emailInput {
    /* Rectangle 319 */

    box-sizing: border-box;

    position: absolute;
    width: 1362px;
    height: 77px;
    left: 279px;
    top: 726px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;

    padding-left: 20px;

}


#changePasswordMessage {
    /* 사용 불가능한 비밀번호입니다. */

    position: absolute;
    width: 334px;
    height: 25px;
    left: 289px;
    top: 600px;

    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */

    color: #FD3C3C;


}

.modal {
    display: none; /* 초기 상태에서는 숨김 */
    position: fixed; /* 화면 전체를 덮기 위해 fixed 사용 */
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

/* 모달 내용 */
.modal-content {
    position: absolute;
    width: 1106px;
    height: 326px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 화면 중앙으로 이동 */
    z-index: 1001;

    background: #E3F2FD;
    box-shadow: 0px 7px 24.4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    text-align: center;
}


.bg{
    position: absolute;
    left: -1px;
    top: -1px;
}

footer{
    position: absolute;
    width: 1920px;
    height: 147px;
    left:-1px;
    top: 1044px;
    background: #1A73E8;
}
footer span:nth-child(1){
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    left:350px;
    top:30px;
}
footer span:nth-child(2){
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    left:970px;
    top:30px;
}
footer span:nth-child(3){
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    left:500px;
    top:90px;
}

.info {
    /* Rectangle 314 */

    position: absolute;
    width: 190px;
    height: 73px;
    left: 191px;
    top: 148px;

    background: #0056B3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border : none;


    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #FFFFFF;

    cursor: pointer;

}

.reservation {
    /* Rectangle 315 */

    position: absolute;
    width: 190px;
    height: 73px;
    left: 441px;
    top: 148px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border : none;


    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #FFFFFF;

    cursor: pointer;

}

.inquiry {
    /* Rectangle 316 */

    position: absolute;
    width: 190px;
    height: 73px;
    left: 691px;
    top: 148px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border : none;


    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #FFFFFF;

    cursor: pointer;

}

.secession {
    /* Rectangle 321 */

    position: absolute;
    width: 168px;
    height: 55px;
    left: 1468px;
    top: 260px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

    cursor: pointer;

    /* 회원탈퇴 */


    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;

    color: #FFFFFF;
}

.id{
    /* 아이디 */

    position: absolute;
    width: 70px;
    height: 38px;
    left: 289px;
    top: 297px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;


}


.idInput{
    /* Rectangle 317 */

    box-sizing: border-box;

    position: absolute;
    width: 1362px;
    height: 77px;
    left: 279px;
    top: 374px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;


    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;

    padding-left: 20px;


}

.pwd{
    /* 비밀번호 */

    position: absolute;
    width: 93px;
    height: 38px;
    left: 289px;
    top: 462px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;


}

.pwdInput {
    /* Rectangle 318 */

    box-sizing: border-box;

    position: absolute;
    width: 1053px;
    height: 77px;
    left: 279px;
    top: 535px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;

    padding-left: 20px;

}

.change {
    /* Rectangle 320 */

    position: absolute;
    width: 190px;
    height: 73px;
    left: 1400px;
    top: 537px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    cursor: pointer;

    /* 변경 */

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #FFFFFF;
}

.email {
    /* 이메일 */

    position: absolute;
    width: 70px;
    height: 38px;
    left: 289px;
    top: 658px;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    /* identical to box height */

    color: #000000;

}

.emailInput {
    /* Rectangle 319 */

    box-sizing: border-box;

    position: absolute;
    width: 1362px;
    height: 77px;
    left: 279px;
    top: 726px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;

    padding-left: 20px;

}


#changePasswordMessage {
    /* 사용 불가능한 비밀번호입니다. */

    position: absolute;
    width: 334px;
    height: 25px;
    left: 289px;
    top: 600px;

    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    /* identical to box height */

    color: #FD3C3C;


}

.modal {
    display: none; /* 초기 상태에서는 숨김 */
    position: absolute; /* 화면 전체를 덮기 위해 fixed 사용 */
    z-index: 1000;
    left: 0;
    top: 0;
    width: 1920px;
    height: 1200px;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

/* 모달 내용 */
.modal-content {
    position: absolute;
    width: 1106px;
    height: 326px;
    left: 50%;
    top: 50%;
    z-index: 1001;

    background: #E3F2FD;
    box-shadow: 0px 7px 24.4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 70px;
    text-align: center;

}


#changeP {
    width: 921px;
    margin: 90px auto; /* 텍스트를 가운데로 정렬 */
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
}


#confirmButton {
    position: absolute;
    width: 209px;
    height: 59px;
    left: calc(50% - 209px / 2 + 214.5px);
    top: 240px;
    background: #42A5F5;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


#cancelButton {
    position: absolute;
    width: 209px;
    height: 59px;
    left: calc(50% - 209px / 2 - 215.5px);
    top: 240px;
    background: #0056B3;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

.doneP{
    width: 921px;
    margin: 90px auto; /* 텍스트를 가운데로 정렬 */
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
}


#closeButton{


    position: absolute;
    width: 209px;
    height: 59px;
    left: calc(50% - 209px/2 + 2.5px);
    top: 200px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border:none;

    /* 확인 */

    box-sizing: border-box;
    text-align: center;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;

    cursor: pointer;

}


.secessionP{
    width: 921px;
    margin: 90px auto; /* 텍스트를 가운데로 정렬 */
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
}

#modalCancelButton {
    position: absolute;
    width: 209px;
    height: 59px;
    left: calc(50% - 209px / 2 - 215.5px);
    top: 240px;
    background: #0056B3;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

#modalConfirmButton {
    position: absolute;
    width: 209px;
    height: 59px;
    left: calc(50% - 209px / 2 + 214.5px);
    top: 240px;
    background: #42A5F5;
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.doneP2 {
    width: 921px;
    margin: 90px auto; /* 텍스트를 가운데로 정렬 */
    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 44px;
    text-align: center;
}

#secessionConfirmButton {

    position: absolute;
    width: 209px;
    height: 59px;
    left: calc(50% - 209px/2 + 2.5px);
    top: 200px;

    background: #42A5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border:none;

    /* 확인 */

    box-sizing: border-box;
    text-align: center;

    font-family: 'Do Hyeon';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;

    cursor: pointer;
}