<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <!-- CSS 경로를 Thymeleaf로 설정 -->
    <link th:href="@{/css/base/nav.css}" rel="stylesheet">
    <link th:href="@{/css/signup/signup.css}" rel="stylesheet">
</head>
<body>
<!-- 배경 이미지 경로를 Thymeleaf로 설정 -->
<img th:src="@{/images/signup/Signup.png}" alt="mainpage" class="bg" style="top: -1px; left: -1px; position: absolute;">

<header>
    <nav>
        <!-- 네비바 -->
        <span>WashPlan</span>
        <span>예약</span>
        <span>FAQ</span>
        <span style="color: #FFFF00">회원가입</span>
        <span >로그인</span>
    </nav>
</header>
<main>
    <span class="signupLogo">회원가입</span>

    <form th:action="@{/signup/submit}" method="post">
        <div class="idBox">
            <span>아이디 : </span>
            <input type="text" name="userId" required>
        </div>
        <div class="passwordBox">
            <span>비밀번호 : </span>
            <input type="password" name="password" required>
        </div>
        <div class="emailBox">
            <label for="email">이메일:</label>
            <input type="text" id="email" name="email" th:value="${verifiedEmail}" readonly>
        </div>
        <button type="submit" class="completeBtn">완료</button>
    </form>
</main>
</body>
</html>